:root {
    --darkBackground: #282828;
    --darkMainColor: #202020;
    --darkTextColor: #FAFAFF;
    --darkLink: #23B5D3;
    --darkBorder: #000;
}

.hidden, .mobile {
    display: none;
}

* {
    color: var(--darkTextColor);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5%;
    font-size: 0.9vw;
}

body {
    background-color: var(--darkBackground);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--darkMainColor);
    height: 10%;
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 5px solid var(--darkBackground); */
    box-shadow: 0 0 1em var(--darkBorder);
}

#me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 30%;
}

#me img {
    max-height: 80%;
    width: auto;
    border-radius: 25%;
}

#me p {
    font-size: 2em;
    font-weight: bolder;
    padding: 0.5em;
}

menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 5%;
}

menu a {
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    padding: 0.4em;
    border-radius: 0.5em;
}

menu a:hover {
    background-color: var(--darkBackground);
}

main {
    margin-top: 10%;
    width: 80%;
    /* height: 500%; */
    background-color: var(--darkMainColor);
    box-shadow: 0 0 3em var(--darkBorder);
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    padding: 5%;
    margin-bottom: 10%;
}

section > h1 {
    font-size: 4em;
    text-align: center;
}

section > p {
    font-size: 1.5em;
    padding: 1em;
}

hr {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    /* margin: 5%; */
}

h1 {
    letter-spacing: 0.08em;
}

/* langs, projects, social */

#languages, #projects, #social_media {
    flex-direction: column;
    text-align: center;
}

#lang_container, #proj_container, #social_container {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5%;
    text-align: center;
}

/* languages */

#languages > h1 {
    margin-bottom: 0;
}

#languages > p {
    margin-top: 0;
}

.lang {
    border-radius: 1.5em;
    border: 0.2em solid #000;
    background-color: var(--darkBackground);
    padding: 5%;
    font-size: 1.4em;
}

.lang p:first-child {
    font-weight: bolder;
}

/* projects */

#projects {
    width: 80%;
}

.project {
    position: relative;
    z-index: 1;
    border-radius: 1.5em;
    border: 0.2em solid #000;
    background-color: var(--darkBackground);
    text-decoration: none;
    padding: 0.2em;
    text-wrap: balance;
    font-size: 1.3em;
    overflow: hidden;
    min-height: 8em;
    transform: rotate(0deg);
}

.project::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: -1;
    opacity: 0.3;
    transform: rotate(0deg);
    transition: all 0.3s;
}

.project:hover::before {
    transform: rotate(5deg) scale(1.1);
}

#project-freegamer::before {
    background: url(images/projects/freegamer.png);
    background-size: cover;
    background-position: 0 60%;
}

#project-virtual-tour::before {
    background: url(images/projects/virtual_tour.png);
    background-size: cover;
    background-position: 0 60%;
}
#project-rafiano::before {
    background: url(images/projects/rafiano.png);
    background-size: 95%;
    background-position: 70% 35%;
}

/* thoughts */

#thoughts {
    width: 80%;
}

#thoughts_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}


.thought {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5em;
    text-decoration: none;
    color: white;
    border-radius: 1em;
    border: 0.15em solid black;
    padding: 0.5em;
    min-width: 40%;
    min-height: 20em;
    text-wrap: balance;
    text-align: center;
    font-size: 1.3em;
    /* height: 40vh; */
    line-height: 1.3em;
}

.thought a {
    /* text-decoration: none; */
    color: var(--darkTextColor);
}

.thought img {
    height: 10em;
}

/* social */

#social_media {
    margin-bottom: 20%;
}

.social {
    font-size: 2em;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    background-color: var(--darkBackground);
    border-radius: 0.5em;
    margin-top: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
}

.social:hover {
    background-color: var(--darkMainColor);
    border: 5px solid var(--darkBackground);
    padding: calc(0.5em - 5px);
}

.social img {
    height: 5rem;
}